<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <!-- Local custom CSS -->
  <link rel="stylesheet" href="/css/style.css" />
 <!-- For Leaflet example -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/leaflet.min.css" integrity="sha512-h9FcoyWjHcOcmEVkxOfTLnmZFWIH0iZhZT1H2TbOq55xssQGEJHEaIm+PgoUaZbRvQTNTluNOEfb1ZRy6D3BOw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div id="map"></div>

  <!-- Leaflet JS -->
  

  <!-- ✅ Include Socket.IO client script (this is crucial!) -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Your custom JavaScript -->
  <script src="\js\script.js"></script>
</body>
</html>
